.slider {
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  margin-top: 85px;
  margin-bottom: 400px;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.arrow-left{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.textBox {
  padding: 3px;
  position: absolute;
  width: auto;
  top: 60%;
  left: 40%;
  right: 40%;
  
}
.subText {
  backdrop-filter: blur(10px) saturate(50%);
  background-color: rgba(10, 9, 12, 0.3);
  border-radius: 10px;
  color: rgb(213, 214, 223);
}
.titleText {
  margin: auto;
  backdrop-filter: blur(10px) saturate(50%);
  background-color: rgba(10, 9, 12, 0.3);
  border-radius: 10px;
  color: rgb(213, 214, 223);
}

.chooseList {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding-bottom: 185px;
  flex-direction: column;
  margin-top: 65px;
}

#help {
  font-size: 45px;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 45px;
}

.sel {
  width: 350px;
  cursor: pointer;
}

.option {
  font-size: 20px;
  border-radius: 20px;
  background: #a19f9f;
  color:white;
  border-color: black;
  width: 300px;
  height: 40px;
  box-shadow: 5px 5px 5px #eee;
  font-family: "Segoie UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#submitBtn {
  background-color: #63a0d2;
  color: #fff;
  border-style: outset;
  border-color: #0066A2;
  height:41px;
  width: 100px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

#submitBtn:hover {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.option:hover {
  background-color:#716e6e;;
}