.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.arrow-left{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}