.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.arrow-left{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.textBox {
  padding: 3px;
  position: absolute;
  width: auto;
  top: 60%;
  left: 40%;
  right: 40%;
  
}
.subText {
  backdrop-filter: blur(10px) saturate(50%);
  background-color: rgba(10, 9, 12, 0.3);
  border-radius: 10px;
  color: rgb(213, 214, 223);
}
.titleText {
  margin: auto;
  backdrop-filter: blur(10px) saturate(50%);
  background-color: rgba(10, 9, 12, 0.3);
  border-radius: 10px;
  color: rgb(213, 214, 223);
}
