.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input {
  width: 50%;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  outline: none;
}
.submitbtn {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
}
