.specialcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  justify-content: center;
}
.cardtwo{
  margin-left: 10%
}

@media only screen and (max-width: 1420px) {
  .cardtwo {
    margin-left: 0%;
  }
}